/vendor
.idea/*
/node_modules
Homestead.yaml
Homestead.json
.env
bower_components

.docker/flarepoint-db/*

# PHP Intel cache
.phpintel/

# PHP CS Fixer cache
.php_cs.cache
storage/debugbar/
public/build/
storage/
