includes:
    - phpstan-baseline.neon

parameters:
    tmpDir: null
    level: 0
    paths:
        - app/

    excludePaths:
        analyse:

    ignoreErrors:

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
